
{#{% extends 'index.html.twig' %}#}

{% block auth %}
<div id="auth_wrapper" class="block">
    <div class="header">Авторизация</div>
    <div class="block_content">
    <form action="auth.php">
        <label for="name">
            <div class="input_name">e-mail</div>
            <input type="text" value="" id="email" name="email" placeholder="e-mail">
        </label>
        <label for="password">
            <div class="input_name">Пароль</div>
            <input type="text" value="" id="password" name="password">
        </label>
        <button type="submit">Войти</button>
    </form>
    </div>
</div>
{% endblock %}