{% if ajax %}
    {% extends 'index.html.twig' %}
{% endif  %}


{% block content %}
    <div class="greating">
        Добро пожаловать {{ user.name }}
        <button onclick="logout()">Выход</button>
    </div>
<div class="dashboard">

    <div class="new_ticket">
        <form action="requests" method="post" onsubmit="SendForm(event)">
            <label for="message_text" class="flex-col">
                <div class="input_name">
                    Задайте свой вопрос
                </div>

                <textarea name="message" id="message_text" cols="10" rows="5"></textarea>
            </label>
            <button type="submit">Отправить</button>
        </form>
    </div>
    <div class="tickets_list" id="tickets_list">
        {% for ticket in tickets %}
            {{ include('tickets/ticket.html.twig') }}
        {% endfor %}
    </div>
</div>

{% endblock %}